<div class="container col-md-6  " style="margin-top:15%">
  <div class="row text-center justify-content-center mb-5">
    <h4> {{ count }} </h4>
  </div>
  <div class="row text-center">
    <div class="col-md-3">
      <button class="btn btn-success" (click)="start()">Start</button>
    </div>
    <div class="col-md-3">
      <button class="btn btn-primary" (click)="detach()">detach</button>
    </div>
    <div class="col-md-3">
      <button class="btn btn-warning" (click)="reattach()">reattach</button>
    </div>
    <div class="col-md-3">
      <button class="btn btn-success" (click)="detectChanges()">detectChanges</button>
    </div>
  </div>
</div>
